<head>
   
   <script type="text/javascript" src="/assets/js/hello.js"></script>
</head>
<center><h3>Hello!</h3></center>
<center><p>Hello</p></center>

<center>
    <p>
        <button style="width: 200px; height: 60px;"
                onclick="callAnothePage()">NEXT
        </button>
    </p>
</center>

<center>
    <p>
        <button style="width: 200px; height: 60px;"
                onclick="getDateTime()">Date Event
        </button>
    </p>
</center>

<center>
    <p>
        <button style="width: 200px; height: 60px;"
                onclick="checkEvent()">Check Event
        </button>
    </p>
</center>