<head>

</head>
<body>
<form action="/login" method="POST">
<center>
    <h2>Login</h2>
</center>
<!--<span style="display: inline-block; width: 70px; background: #00000; vertical-align: top;">-->
<style type="text/css">
     input#search
    {
        width: 20px;
        height: 20px;
    }
	
</style>


<center>
    <input  style="width: 200px; height: 60px;" id="name" type="text" name="firstname" placeholder="User name">
</center>

<center>
    <input   style="width: 200px; height: 60px;" id="password" type="password" name="password" placeholder="Password" >
</center>

</br>
<center>
    <p>
        <button style="width: 200px; height: 60px;">
           Login
        </button>
    </p>
</center>
</span>

</body>