<head>
	<script type="text/javascript" src="/assets/js/testcordovaplugin.js"></script>
	<script type="text/javascript">
	function callAnothePage()
    {
		alert('callAnotherPage');
    };
	
	</script>
</head>
<body>
<center>
    <h2>Plugin Test</h2>
</center>
<!--<span style="display: inline-block; width: 70px; background: #00000; vertical-align: top;">-->
<style type="text/css">
     input#search
    {
        width: 20px;
        height: 20px;
    }
	
</style>


<center>
    <p>
        <button style="width: 200px; height: 60px;"
                onclick="callPluginEvent()">Event
        </button>
    </p>
</center>



<center>
    <p>
        <button style="width: 200px; height: 60px;" onclick="callAnothePage()">
           Go to hello.html
        </button>
    </p>
</center>
<center>
    <input  style="width: 200px; height: 60px;" id="name" type="text" name="firstname" >
</center>
<center>
    <p>
        <button style="width: 200px; height: 60px;" onclick="login()">
           Login
        </button>
    </p>
</center>

<center>
    <p>
        <button style="width: 200px; height: 60px;" onclick="remove()">
            Remove
        </button>
    </p>
</center>
</span>

</body>